:root {
 --color-main: #F8FEFE;
 --color-gray-darker: grey;
}

html, body, #root, #root>div {
  height: 100%;
  background-color: var(--color-main);
}

.wrapper {
  display: grid;
  width: 100%;
  grid-gap: 1rem;
  grid-template-columns: 13rem 1fr;
  grid-template-areas:
  "aside main"
  "aside main"
  "aside main";
}

aside {
  margin-top: 4rem;
  padding: 0 4rem;
  margin-right: 4rem;
  grid-area: aside;
  background-color: var(--color-main);
  width: max-content;
  display: flex;
  flex-direction: column;
}

main {
  width: 100%;
  grid-area: main;
  margin-left: 4rem;
  margin-top: 4rem;
  background-color: var(--color-main);
  display: flex;
  justify-content: center;
  align-content: center;
}

.main-wrapper{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}

.notes-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  margin-top: 4rem;
}

.notes-header {
  display: flex;
}


/* footer */
footer {
  background-color: var(--color-main);
  margin-top: auto;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 1rem;
}

.footer-container i {
  padding: 4rem;
  color: var(--color-gray-darker);
}

.footer-text {
  padding: 0;
  margin: 0;
}

.footer-content > * {
  margin-left: 4rem;
  margin-right: 4rem;
}

.footer-heading {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

/* utilities */
.flex-row-wrap-start {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-start;
}

.flex-row-wrap-center {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.flex-col-wrap-center {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.flex-row-wrap-space-around {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}

.flex-col-wrap-start {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: center;
}