:root {
 --color-main: #F8FEFE;
}
.wrapper {
  display: grid;
  width: 100%;
  grid-gap: 1rem;
  grid-template-columns: 13rem 1fr;
  grid-template-areas:
  "aside main"
  "aside main"
  "aside main"
  "aside footer";
}

aside {
  margin-top: 4rem;
  padding: 0 4rem;
  margin-right: 4rem;
  grid-area: aside;
  background-color: var(--color-main);
  width: max-content;
  display: flex;
  flex-direction: column;
}

main {
  width: 100%;
  grid-area: main;
  margin-left: 4rem;
  margin-top: 4rem;
  background-color: var(--color-main);
  display: flex;
  justify-content: center;
  align-content: center;
}

.main-wrapper{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}

.notes-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  margin-top: 4rem;
}

.notes-header {
  display: flex;
}
